body {
    font-family: Arial;
    background-color: lightgray;
    margin: 0;
    padding: 30px;
}

.card {
    width: 400px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
}

#studentName {
    text-align: center;
    color: blue;
}

p {
    font-size: 18px;
}

h3 {
    color: green;
}

ul {
    background-color: lightgray;
    padding: 15px;
}

li {
    margin: 5px;
}

button {
    padding: 8px 12px;
    margin: 5px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: darkblue;
}